body{
    background-color: darkseagreen;
}

tr > * {
    border:2px black solid;
    width:90px;
    height:90px;
}

td > *{
    display: block;
      margin:auto;    
      width:90px;
      height: 90px;  
}

#tauler{
    width:800px;
    height:800px;
    /*background-color: floralwhite;*/
}

h1{
    margin-top:0px;
    text-align: center;
    margin-bottom:10%;
    font-size:2.5em;
}

input,label,button{
    display:block;
    margin:auto;
    font-size:1.5em;
}

label{
    text-align: center;
    margin-top:1%;
}

button{
    margin-top:2%;
    background-color: darkgreen;
    color:chartreuse;
    border-color:darkgreen;
    border-radius: 10px;
    width:5%;
}

button:hover{
    background-color: chartreuse ;
    color:darkgreen;
}

#divTauler{
    position:absolute;
    top:8%;
    left:28%;
}

#lbCom{
    position:absolute;
    top:10%;
    left:100%;
    background-color:red;
    width:10em;
}